nav {
    background-color: #2d2926;
    margin-bottom: 50px;
}

#pipeline-btn {
    margin-top: 4px;
}

.brand-logo > img {
    border-style: none;
    background-color: white;
    margin-right: 10px;
    margin-bottom: -5px;
}